* filter=git-crypt diff=git-crypt

.gitattributes !filter !diff
.gitignore !filter !diff
.github/** !filter !diff
git-crypt.exe !filter !diff
gpg4win-4.0.3.exe !filter !diff
Snipaste-2.10.5-x64.zip !filter !diff
ToDesk_4.7.6.3.exe !filter !diff